/*  INICIO DE RESETEO DE CSS
esto solo resetea las configuraciones iniciales */
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
  }
  a,
  li {
    text-decoration: none;
    list-style: none;
    color: black;
  }
  /* FIN DE RESETEO DE CSS */
  
  /* INICIO DE DECLARACION DE VARIABLES
       variables con las que se trabajaran */
  :root {
    --primarycolor: #313B50;
    --secondarycolor: #ffffff;
    --thirdcolor: #434c61;
    --fourthcolor: #367588;
    --cancel: #56070c;
    --primarytext: 'Montserrat', sans-serif;
    --secondtext: "Dancing Script", cursive;
    --shadow: rgba(0, 0, 0, 0.75);
  }
  /* FIN DE DECLARACION DE VARIABLES */
  .body {
    margin: 0px;
    background-color:var(--secondarycolor)
  }
  .formulario {
    width: 80%;
    max-width: 500px;
    position: relative;
    margin: 0 auto;
    padding: 40px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.9);
    background-color: #e6e6e6c7;
    border-radius: 18px;
    margin-bottom: 50px;
  }
  .formulario__titulo {
    text-align: center;
    text-transform: uppercase;
  }
  .formulario__input,
  .formulario__submit,
  .special-textarea {
    display: block;
    width: 100%;
    font-size: 18px;
    font-family: var(--primarytext);
    border-radius: 10px;
    outline: none;
  }
  .formulario__input,
  .special-textarea {
    padding: 12px;
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 40px;
    color: var(--thirdcolor);
  }
  .special-textarea {
    margin-bottom: 20px;
    resize: none;
  }
  .formulario__input:focus,
  .special-textarea:focus {
    border: 2px solid rgba(0, 0, 0, 0.7);
  }
  .formulario__input:focus + .formulario__label {
    margin-top: -110px;
  }
  .special-textarea:focus + .special-label {
    margin-top: -180px;
  }
  
  .formulario__label {
    display: block;
    padding: 0 10px;
    position: absolute;
    margin-top: -75px;
    transition: all 0.2s;
    color: var(--thirdcolor);
    font-weight: bold;
  }
  .special-label {
    margin-top: -145px;
  }
  .formulario__submit {
    background: var(--primarycolor);
    padding: 10px 20px;
    border: 1px solid var(--thirdcolor);
    transition: all 0.5s ease;
    cursor: pointer;
    color: var(--secondarycolor);
  }
  .formulario__submit:hover {
    background: var(--thirdcolor);
    color: #fff;
  }
  
  .fijar {
    margin-top: -110px;
    padding: 0;
  }
  .fijar-special {
    margin-top: -180px;
    padding: 0;
  }
  
  .warning {
    width: 100%;
    text-align: center;
    font-style: italic;
    font-weight: bolder;
    margin: auto;
    color: var(--primarycolor);
    padding: 10px 0 15px;
  }
  