/*=====================================
/*  INICIO DE RESETEO DE CSS
esto solo resetea las configuraciones iniciales */
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

a,
li {
    text-decoration: none;
    list-style: none;
    color: rgb(0, 0, 0);
}
/* FIN DE RESETEO DE CSS */

/* INICIO DE DECLARACION DE VARIABLES
         variables con las que se trabajaran */
:root {
    --primarycolor: #313B50;
    --secondarycolor: #ffffff;
    --thirdcolor: #434c61;
    --fourthcolor: #367588;
    --cancel: #56070c;
    --primarytext: 'Montserrat', sans-serif;
    --secondtext: "Dancing Script", cursive;
    --shadow: rgba(0, 0, 0, 0.75);
        }
/* FIN DE DECLARACION DE VARIABLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'open sans';
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

/* Header */

header {
    width: 100%;
    height: 600px;
    background: #95e7c5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(140, 40%, 52%, 0.459), hsla(194, 45%, 52%, 0.664)), url(img/imag.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(140, 40%, 52%, 0.459), hsla(194, 45%, 52%, 0.664)), url(img/imag.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}


nav{
    text-align: right;
    padding: 30px 30px 0 0;
    margin-bottom: 10px
}

.container-name{
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
}

.user-name{
    max-width: 25%;
    padding: 15px;
    color: var(--secondarycolor);
    border-bottom: 5px solid var(--secondarycolor);
    margin-left: 40px;
    font-weight: 550;
}

.nav-aa{
    text-align: right;
    color:#fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 25px;
}

.nav-aa:hover{
    text-decoration: underline;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.titulo {
    color:var(--primarycolor);
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

.titulo3{
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color:#fff;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color:#fff;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Galeria */

.portafolio{
    background: #f2f2f2;
}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port{
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: rgba(169, 214, 208, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 50px;
}

.hover-galeria p{
    color: #fff;
}

.imagen-port:hover .hover-galeria{
    transform: scale(1);
}

/* Principales Editores */

.cards{
    display: flex;
    justify-content: space-evenly;
}

.cards .card{
    background: #68A357;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}

.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}

.cards .card > .contenido-texto-card{
    width: 60%;
    color: #fff;
}

.cards .card > .contenido-texto-card p{
    font-weight: 300;
    padding-top: 5px;
}

/* footer */

footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #4b83d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #ccc;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}
    /* Galeria */

    .imagen-port{
        width: 44%;
    }

    /* team */

    .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards .card{
        width: 90%;
    }

    .cards .card:first-child{
        margin-bottom: 30px;
    }
@media screen and (max-width:500px){
    nav{
        text-align: center;
        padding: 30px 0 0 0;
    }

    nav > a{
        margin-right: 5px;
    }

    .textos-header h1{
        font-size: 35px;
    }

    .textos-header h2{
        font-size: 20px;
    }

    
    /* Footer */

    .contenedor-footer{
        flex-direction: column;
        border: none;
    }

    .content-foo{
        margin-bottom: 20px;
        text-align: center;
    }

    .content-foo h4{
        border: none;
    }

    .content-foo p{
        color: #ccc;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
    }

    .titulo-final{
        font-size: 20px;
    }
}

